.ocultar{
    display: none;
}
#map{
    background-color: #00ff00;
}
#user{
    /*background-color: #08f;*/
    background-image:url("../img/Entrenador2.png");
    background-size: 50%;
    background-position: top right;
    background-repeat: no-repeat;
}
#users{
    background-color: red;
}
#buttons{
    background-color: #000aff;
}
#footer{
    background-color: yellow;
}
